In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#this is a function online for zipcode generation (it can also give us median household income but it's unclear when it has been last updated)
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode

#these two don't end up being used yet
from pprint import pprint
import json


source1 = 'AirbnbSept19.csv'
source2 = 'Rolling Sales NYC/rollingsales_brooklyn_2019.csv'
df = pd.read_csv(source1)
df2 = pd.read_csv(source2)

In [2]:
#AirBnB Data

#Price was object, could not manipulate
df['price'] = df['price'].astype(float)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,Cypress Hills,40.67618,-73.90764,Entire home/apt,199.0,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,Upper East Side,40.77326,-73.96650,Entire home/apt,175.0,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,Bushwick,40.69907,-73.93043,Private room,35.0,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,Crown Heights,40.66986,-73.93772,Private room,79.0,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,Far Rockaway,40.60315,-73.75722,Private room,45.0,3,0,NaN,NaN,1,173

In [3]:
#Removed all columns but neighborhoods and price (just for the purposes od this exercise)
df_slimmed = df[['neighbourhood_group','neighbourhood','price']]

#Find the mean price for each neighborhood
df_nbrhd = df_slimmed.groupby(['neighbourhood_group','neighbourhood']).mean()

#Ignore the text below
#df_borough = df_slimmed.groupby(['neighbourhood_group']).mean().reset_index()

In [4]:
# df_neighborhood.head()
df_nbrhd.head()

                                       price
neighbourhood_group neighbourhood
Bronx               Allerton       89.159091
                    Baychester     78.500000
                    Belmont        77.555556
                    Bronxdale      57.888889
                    Castle Hill    44.285714

In [79]:
#Ignore this, it was a bar graph of the average price by neighborhood.

# plt.bar(df_neighborhood['neighbourhood'],df_neighborhood['price'])
# df_neighborhood=df_neighborhood.astype(float)
# plot = df_neighborhood.plot.bar(x='price')
# plt.figure(figsize=(10,4))
# plt.bar(df_borough['neighbourhood_group'],df_borough['price'],)
# plt.title("Average Airbnb Cost by NYC Borough, 2019", size = (20))
# plt.ylabel("Cost, One Night ($)", size = (16))
# plt.xlabel('Borough', size = (16))

# plt.savefig("Airbnb Cost NYC 2019")

In [86]:
#Focusing only on Brooklyn for Airbnb data as the csv file for NYC Rolling Sales is by borough
df_bk_nbrhd = df_nbrhd.loc['Brooklyn'].reset_index()

#Renaming Airbnb_brooklyn_sept
df_abb_bk_sept = df_bk_nbrhd
df_abb_bk_sept = df_abb_bk_sept.rename(columns = {'neighbourhood':'NEIGHBORHOOD','price':'AirBnB Price'})

df_abb_bk_sept

                 NEIGHBORHOOD  AirBnB Price
0                  Bath Beach     81.666667
1                   Bay Ridge    140.611842
2          Bedford-Stuyvesant    107.718362
3                 Bensonhurst     72.275000
4                Bergen Beach    101.571429
5                 Boerum Hill    178.450292
6                Borough Park     63.295455
7              Brighton Beach    132.800000
8            Brooklyn Heights    204.618056
9                 Brownsville     77.692308
10                   Bushwick     85.694732
11                   Canarsie    107.126667
12            Carroll Gardens    178.684932
13               Clinton Hill    182.475936
14                Cobble Hill    209.577320
15                Columbia St    162.538462
16               Coney Island    142.357143
17              Crown Heights    112.889245
18              Cypress Hills    117.035971
19                      DUMBO    192.529412
20          Downtown Brooklyn    152.135135
21              Dyker Heights     80.250000
22              East Flatbush    106.921162
23              East New York     85.773333
24                   Flatbush     92.008306
25                  Flatlands    102.058824
26                Fort Greene    147.751092
27              Fort Hamilton     96.109091
28            Gerritsen Beach    103.000000
29                    Gowanus    159.535565
30                  Gravesend     80.111111
31                 Greenpoint    145.766605
32                 Kensington     92.323864
33            Manhattan Beach    105.375000
34                    Midwood     82.018018
35                 Mill Basin    124.500000
36                  Navy Yard    152.133333
37                 Park Slope    168.548654
38           Prospect Heights    145.379710
39  Prospect-Lefferts Gardens    108.873294
40                   Red Hook    142.025641
41                   Sea Gate    491.666667
42             Sheepshead Bay    102.757764
43                South Slope    149.664207
44                Sunset Park    110.525799
45               Vinegar Hill    198.843750
46               Williamsburg    142.015465
47            Windsor Terrace    135.682119

In [82]:
#DF2 is the NYC Rolling Sales, this was pulled from the csv in the first box (source2)
df2[' SALE PRICE '] = df2[' SALE PRICE '].str.replace(',','').astype(float)

#Create a boolean mask to sort by the month of September (Airbnb CSV is just September, we can discuss if this step is necessary together)
mask = (df2['SALE DATE'] > '9/0/2019') & (df2['SALE DATE'] <= '9/31/2019')
df2_sept = df2.loc[mask]

In [9]:
#The table had a lot of sales at 0. Not sure why.. removed
df2_nonzero_sept = df2_sept.loc[df2[' SALE PRICE '] > 0]

#Group NYC Sales data by average price by neighborhood
df2_nbrhd_sept = df2_nonzero_sept.groupby("NEIGHBORHOOD").agg({' SALE PRICE ':'mean'}).reset_index()
df2_nbrhd_sept_count = df2_nonzero_sept.groupby("NEIGHBORHOOD").agg({' SALE PRICE ':'count'}).reset_index()

#Make the neighborhoods into title case so they can be joined
df2_nbrhd_sept['NEIGHBORHOOD'] = df2_nbrhd_sept['NEIGHBORHOOD'].str.lower()
df2_nbrhd_sept['NEIGHBORHOOD'] = df2_nbrhd_sept['NEIGHBORHOOD'].str.title()
df2_nbrhd_sept_count

NameError: name 'df2_sept' is not defined

In [10]:
#Just wanted to see all the rows, it was giving me a truncated table
pd.set_option("display.max_rows", 101) 

#Merge both tables, on neighborhood. If you scroll down, you can see that there are many neighborhoods that are not matching
df_bk_sept_19 = pd.merge(df_abb_bk_sept,df2_nbrhd_sept, on = 'NEIGHBORHOOD',how = 'outer')
df_bk_sept_19

                 NEIGHBORHOOD  AirBnB Price   SALE PRICE
0                  Bath Beach          27.0  1.373982e+06
1                   Bay Ridge         152.0  8.110860e+05
2          Bedford-Stuyvesant        3785.0           NaN
3                 Bensonhurst          80.0  1.155374e+06
4                Bergen Beach          14.0  6.686562e+05
5                 Boerum Hill         171.0  5.656700e+05
6                Borough Park         132.0  1.288708e+06
7              Brighton Beach          80.0  7.235991e+05
8            Brooklyn Heights         144.0  1.557403e+06
9                 Brownsville          65.0  4.582092e+05
10                   Bushwick        2411.0  1.008909e+06
11                   Canarsie         150.0  6.124224e+05
12            Carroll Gardens         219.0  2.191286e+06
13               Clinton Hill         561.0  7.996267e+05
14                Cobble Hill          97.0  2.739146e+06
15                Columbia St          39.0           NaN
16               Coney Island          14.0  4.029643e+05
17              Crown Heights        1562.0  8.800823e+05
18              Cypress Hills         139.0  6.658716e+05
19                      DUMBO          34.0           NaN
20          Downtown Brooklyn          74.0           NaN
21              Dyker Heights          20.0  9.875000e+05
22              East Flatbush         482.0           NaN
23              East New York         225.0  6.024170e+05
24                   Flatbush         602.0           NaN
25                  Flatlands          85.0  3.933803e+05
26                Fort Greene         458.0  2.147490e+06
27              Fort Hamilton          55.0           NaN
28            Gerritsen Beach           1.0  4.410025e+05
29                    Gowanus         239.0  6.253367e+05
30                  Gravesend          72.0  2.925101e+06
31                 Greenpoint        1084.0  3.679057e+06
32                 Kensington         176.0  5.587388e+05
33            Manhattan Beach           8.0  1.246083e+06
34                    Midwood         111.0  9.161076e+05
35                 Mill Basin           8.0  1.402000e+06
36                  Navy Yard          15.0  3.774167e+07
37                 Park Slope         483.0  1.871877e+06
38           Prospect Heights         345.0  1.378991e+06
39  Prospect-Lefferts Gardens         513.0           NaN
40                   Red Hook          78.0           NaN
41                   Sea Gate           9.0           NaN
42             Sheepshead Bay         161.0  1.245062e+06
43                South Slope         271.0           NaN
44                Sunset Park         407.0  2.079000e+06
45               Vinegar Hill          32.0           NaN
46               Williamsburg        3815.0           NaN
47            Windsor Terrace         151.0  7.970020e+05
48         Bedford Stuyvesant           NaN  1.050683e+06
49           Brooklyn-Unknown           NaN  1.276561e+06
50              Bush Terminal           NaN  2.449450e+06
51           Cobble Hill-West           NaN  1.855000e+06
52      Downtown-Fulton Ferry           NaN  4.708333e+06
53       Downtown-Fulton Mall           NaN  4.928200e+06
54         Downtown-Metrotech           NaN  1.272445e+07
55           Flatbush-Central           NaN  9.843576e+05
56              Flatbush-East           NaN  1.834620e+06
57   Flatbush-Lefferts Garden           NaN  1.534214e+06
58             Flatbush-North           NaN  6.578779e+05
59                    Madison           NaN  7.623280e+05
60                Marine Park           NaN  7.078447e+05
61                 Ocean Hill           NaN  1.190726e+06
62        Ocean Parkway-North           NaN  8.895833e+05
63        Ocean Parkway-South           NaN  9.232150e+05
64             Old Mill Basin           NaN  6.179062e+05
65           Park Slope South           NaN  9.500751e+05
66                    Seagate           NaN  9.200000e+05
67               Spring Creek           NaN  5.271016e+05
68       Williamsburg-Central           NaN  4.876000e+05
69          Williamsburg-East           NaN  1.836642e+06
70         Williamsburg-North           NaN  1.201871e+06
71         Williamsburg-South           NaN  1.926055e+06
72            Wyckoff Heights           NaN  1.845000e+06

In [74]:
#Ok, plan b, try to merge by zipcodes. Airbnb data has zipcodes
#Documentation for this zip code function can be found here:   https://uszipcode.readthedocs.io/index.html

#Play around with search.by_coordinates, pretty cool information given
coords = search.by_coordinates(40.80902,-73.94190, radius = 0.5, returns = 1)
print(coords)


#Made function to run variables through the search.by_coordinates and append output to a list
def ziplocate(x,y):
    airbnb_zip = []
    airbnb_zip.append(search.by_coordinates(x,y, returns = 1)[0].zipcode)
    print(airbnb_zip)

#Other functions below that can giv median home value and median home income. We don't know how current this data is though..
# def medhomeval(z):
#     return(search.by_zipcode(z).median_home_value)
# def medhomeincome(z):
#     return(search.by_zipcode(z).median_household_income)

#This function below should work.. it runs through the whole table and will output zipcodes.
#Table is 48,000 rows, this will take about 33minutes to complete

# for index,row in df.iterrows():
#     ziplocate(df['latitude'][index],df['longitude'][index])

#I pulled the lat and long off the df and made them into lists
#you can control the length with [0:5x] to see how it will take a long time as the list size increases
airbnb_lat = list(df['latitude'])[0:500]
airbnb_lng = list(df['longitude'])[0:500]
for x,y in zip(airbnb_lat,airbnb_lng):
    ziplocate(x,y)

['10037']
['11238']
['10026']
['10017']
['11238']
['10018']
['10025']
['10009']
['10002']
['10025']
['10018']
['11215']
['10026']
['10014']
['11211']
['11205']
['10011']
['11216']
['10026']
['11211']
['11217']
['11217']
['11216']
['11218']
['10034']
['10019']
['10003']
['10030']
['10027']
['11222']
['10030']
['11216']
['11215']
['11237']
['11237']
['11210']
['10002']
['10002']
['11215']
['11205']
['10162']
['10037']
['11225']
['11109']
['11238']
['11216']
['11205']
['11216']
['10162']
['11206']
['11222']
['10016']
['11211']
['10017']
['10002']
['10199']
['11222']
['10012']
['11211']
['10119']
['10044']
['11231']
['11238']
['11205']
['10018']
['11215']
['10009']
['11205']
['10002']
['10035']
['10002']
['10018']
['10039']
['11238']
['10003']
['11377']
['11377']
['11205']
['10011']
['11211']
['10031']
['10002']
['11226']
['11201']
['11211']
['10002']
['10009']
['11211']
['11206']
['11217']
['11238']
['11217']
['11211']
['11237']
['10025']
['10031']
['10011']
['11233']
['10031']
['11231']
['10012']
['11211']
['11215']
['11233']
['11211']
['10037']
['11217']
['10199']
['11238']
['10009']
['11215']
['10009']
['10016']
['11211']
['10009']
['11215']
['10031']
['11215']
['10023']
['10002']
['11225']
['10028']
['11216']
['10030']
['11238']
['10002']
['11222']
['10019']
['11210']
['11238']
['11221']
['11238']
['11222']
['10009']
['11231']
['11355']
['11221']
['11211']
['11211']
['11205']
['11238']
['11211']
['11238']
['10029']
['10012']
['11211']
['10028']
['11217']
['10044']
['11211']
['11104']
['11216']
['11201']
['10065']
['11215']
['10031']
['11238']
['11231']
['10301']
['11237']
['10039']
['11205']
['10009']
['10006']
['11205']
['10011']
['10003']
['10030']
['10011']
['10039']
['11217']
['11385']
['10027']
['11211']
['11217']
['11216']
['11217']
['10044']
['11216']
['10011']
['10002']
['11215']
['10044']
['10002']
['10199']
['11434']
['10018']
['11206']
['11379']
['11385']
['11379']
['11211']
['10019']
['10026']
['11217']
['10037']
['10039']
['10026']
['11211']
['11221']
['10003']
['10012']
['11211']
['11217']
['10009']
['11222']
['10030']
['11105']
['11231']
['10003']
['10019']
['10003']
['10001']
['10037']
['10039']
['11218']
['11106']
['10002']
['11385']
['10022']
['10278']
['10029']
['10037']
['10030']
['10009']
['10026']
['10037']
['10002']
['10026']
['10002']
['10152']
['10003']
['11233']
['10301']
['10301']
['10009']
['10162']
['10301']
['10009']
['10011']
['11222']
['10009']
['11211']
['10301']
['11377']
['11218']
['11215']
['10473']
['10466']
['11216']
['10002']
['11216']
['10034']
['11211']
['10003']
['11216']
['11216']
['11216']
['11216']
['10009']
['10023']
['11216']
['11211']
['10009']
['11211']
['11211']
['10039']
['11215']
['11231']
['10003']
['10002']
['10027']
['11217']
['11217']
['10002']
['10026']
['11211']
['10026']
['10025']
['10031']
['11233']
['10162']
['11231']
['11222']
['10002']
['10023']
['11237']
['10034']
['10003']
['11231']
['10009']
['10039']
['10002']
['10012']
['11222']
['10468']
['10023']
['11222']
['11211']
['11211']
['10037']
['10026']
['11102']
['11222']
['11211']
['10002']
['11215']
['11109']
['10018']
['11217']
['11238']
['11211']
['10002']
['11109']
['11109']
['11217']
['11109']
['11201']
['11201']
['11216']
['11233']
['11217']
['11222']
['10009']
['11109']
['11216']
['10003']
['10038']
['10002']
['10037']
['11238']
['11216']
['11216']
['11103']
['11213']
['11221']
['11238']
['11211']
['11206']
['11238']
['10119']
['10029']
['11217']
['10034']
['11423']
['11215']
['10011']
['11211']
['10162']
['11211']
['11109']
['10003']
['11692']
['10031']
['11238']
['11222']
['10069']
['10001']
['11238']
['10026']
['10028']
['11205']
['11216']
['11215']
['10002']
['10154']
['10031']
['10030']
['11102']
['11216']
['11201']
['11221']
['10003']
['11206']
['11222']
['11217']
['10026']
['10003']
['11221']
['11218']
['10003']
['10025']
['11215']
['10030']
['11222']
['11375']
['10014']
['10119']
['11211']
['10017']
['11211']
['11226']
['11217']
['10011']
['11217']
['11222']
['11216']
['11211']
['11238']
['10009']
['11217']
['11217']
['10002']
['10012']
['10009']
['10026']
['10002']
['11211']
['10011']
['10162']
['10012']
['11211']
['10025']
['10029']
['10470']
['10002']
['11103']
['11211']
['11215']
['10009']
['10030']
['10026']
['11104']
['11222']
['10009']
['11216']
['11233']
['11211']
['11238']
['11222']
['11211']
['11216']
['11216']
['10011']
['10009']
['11104']
['11211']
['10031']
['11211']
['11216']
['11205']
['10026']
['10003']
['11222']
['10012']
['11231']
['10027']
['11104']
['10026']
['10032']
['11231']
['10011']
['11217']
['11217']
['10009']
['11215']
['10023']
['10009']
['11216']
['10453']
['11205']
['11223']
['10029']
['11217']
['10199']
['10027']
['11222']
['10009']
['10009']
['11221']
['10019']
['11238']
['11222']
['10011']
['10016']
['10002']
['10012']
['11103']
['11103']
['10031']
['10029']
['10011']
['10469']
['11211']
['11211']
['11206']
['10011']
['11217']
['10003']
['10011']
['11208']
['11213']
['10021']
['11216']
['11238']
['11215']
['10009']
['10011']
['10019']
['11211']

In [13]:
# df2[' SALE PRICE '] = df2[' SALE PRICE '].str.replace(',','').astype(float)

jan_mask = (df2['SALE DATE'] > '1/0/2019') & (df2['SALE DATE'] <= '1/31/2019')
df2_jan = df2.loc[jan_mask]

Ltrain_zipcodes = [11211,11206,11207,11221,11237,11236,11234,11239]
df2_jan_LZip = df2_jan[df2_jan['ZIP CODE'].isin(Ltrain_zipcodes)]

`
df2_jan_LZip_nonzero = df2_jan_LZip.loc[df2_jan_LZip[' SALE PRICE '] > 0]
df2_jan_LZip_nonzero.groupby('ZIP CODE').count()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
ZIP CODE,,,,,,,,,,,,,,,,,,,,
11206.0,13,13,13,13,13,13,0,13,13,7,13,13,13,13,13,13,13,13,13,13
11207.0,46,46,46,46,46,46,0,46,46,4,46,46,46,46,46,46,46,46,46,46
11211.0,19,19,19,19,19,19,0,19,19,17,19,19,19,19,19,19,19,19,19,19
11221.0,21,21,21,21,21,21,0,21,21,7,21,21,21,21,21,21,21,21,21,21
11234.0,49,49,49,49,49,49,0,49,49,4,49,49,49,49,49,49,49,49,49,49
11236.0,49,49,49,49,49,49,0,49,49,7,49,49,49,49,49,49,49,49,49,49
11237.0,4,4,4,4,4,4,0,4,4,2,4,4,4,4,4,4,4,4,4,4